<ion-header>
  <ion-toolbar>
    <div class='column left'>
      <div>
        <ion-buttons slot="start">
          <ion-icon class="icon_exit" (click)='closeModal()' 
            name='arrow-back-circle-outline' >Cerrar</ion-icon>
        </ion-buttons>
      </div>
    </div>

    <div class="column middle">
      <ion-title >Mandar codigo</ion-title>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item class="qrWrap">
    <!-- <div>
      <ion-button class="custom-fab-code" shape="round" (click)="captureQRscreen()">
        <ion-icon name="share-social-outline" size="large"></ion-icon>
      </ion-button>
    </div> -->

      <div id="qrImage" >
        <div class="qrIn">
          <qr-code  value={{code}} size="200" errorCorrectionLevel="M"/>
        </div>
        <div class="qrLabel">{{code}}</div>
      </div>


    <!-- <div class="code">
      <ion-input class='newCode' type="text" name='code' required placeholder="codigo" 
      value={{code}} [(ngModel)]="code" ></ion-input>
    </div> -->
    
    <!-- <div class="refreshCode">
      <ion-button class="custom-fab-code" shape="round" (click)="newCode()">
        <ion-icon name="refresh-outline" size="large"></ion-icon>
      </ion-button>
    </div> -->
    
  </ion-item>


 <form [formGroup] = "RegisterForm" >
      <ion-item class="visitor-item-select"  color="primary">
        <ion-input class="visitorOption" href="#" placeholder="Selecciona Visitante" 
        formControlName="ValidVisitorName" (click)="openVisitorModal()" 
        [(ngModel)]="visitorCode"
        [value]="visitorCode"></ion-input>
        <ion-icon name="person-add-outline" slot="start" (click)="openVisitorModal()"></ion-icon>
      </ion-item>

    <ion-item>
      <ion-label>Telefono:</ion-label>
      <ion-input class='phoneNumber' type="text"
          [value]="visitorSim" formControlName="ValidVisitorSim" 
          [(ngModel)]="visitorSim">
        </ion-input>
    </ion-item>

<!-- Initial  -------------------------------------------------------------------- -->
      <ion-item id="open-Initial" class="itemFilter">
        <ion-label class='labelInput'>Inicio :</ion-label>
        <ion-note class="filterDate" slot="end">{{initial | date:'dd MMM YYYY hh:mm a'}}</ion-note>
        <ion-icon color="white" slot="end" name="calendar-outline" ></ion-icon>
      </ion-item>
      <ion-modal trigger="open-Initial" [cssClass]="'bottom-end'">
        <ng-template>
          <ion-datetime  class="dateFilter" [showDefaultTitle]="true"
            locale="es-ES" presentation="date-time" size="cover" [preferWheel]="true"
            #myInitial displayFormat="D MMM YYYY hh:mm a" min="2022" max="2060" 
            [showDefaultButtons]="true" doneText="Cambiar" cancelText="Ignorar"
            (ionChange)="onChangeInitial(myInitial.value)"
            >
            <span slot="title">Fecha de inicio</span>
        </ion-datetime>
        </ng-template>
      </ion-modal> 

<!-- Expiry ----------------------------------------------------------------------------- -->

      <ion-item id="open-Expiry" class="itemFilter">
        <ion-label class='lblFilterDate'>Fin :</ion-label>
        <ion-note class="filterDate" slot="end">{{expiry | date:'dd MMM YYYY hh:mm a'}}</ion-note>
        <ion-icon color="white" slot="end" name="calendar-outline" ></ion-icon>
      </ion-item>
      <ion-modal trigger="open-Expiry" [cssClass]="'bottom-end'">
        <ng-template>
          <ion-datetime  class="dateFilter" [showDefaultTitle]="true"
            locale="es-ES" presentation="date-time" size="cover" [preferWheel]="true"
            #myExpiry display-format="D MMM YYYY hh:mm" min="2021"  max="2060" 
            [showDefaultButtons]="true" doneText="Cambiar" cancelText="Ignorar"
            (ionChange)="onChangeExpiry(myExpiry.value)"
            >
            <span slot="title">Fecha que expira</span>
        </ion-datetime>
        </ng-template>
      </ion-modal>

<!-- ----------------------------------- -->
    
      <ion-item>
        <ion-label style="min-width: 150px;">Expira en horas: </ion-label>
        <ion-input class='input' type="number" name='diff' disabled value={{diff}}></ion-input>
      </ion-item>

      <ion-item  class="wrap-input">
      <ion-label class="labelInput">Comentario: </ion-label>
        <ion-textarea #mycomment class='input' 
        (ionChange)="onChangeComment(mycomment.value)" 
        name="comment" value={{comment}}></ion-textarea>
      </ion-item>

      <ion-item class="wrap-input">
        <ion-button type="submit" class="submit titleButtonBlue" mode="ios"
        [disabled] = "!RegisterForm.valid" expand="full"  
        (click)="captureQRscreen()" >Enviar</ion-button>
      </ion-item>
  </form>
</ion-content>
