.lock{
    margin: auto 10px auto -10px;
    font-size: 1.3rem;
    color:rgb(255, 94, 0);
}

.title{
    display: flex;
    margin: 0;
    padding-right: 0px;
    width: 90%;
}

.closeButton{
    margin-right: 10px;
}

.title-wrip{
    font-size: .8em;
    width: 100%;
}