<ion-header>
  <ion-toolbar>
    <div class='title'>
      
      <div class='column left'>
        <ion-buttons slot="start">
          <ion-icon class="icon_exit" (click)='closeModal()' 
            name='arrow-back-circle-outline' >Cerrar</ion-icon>
        </ion-buttons>
      </div>

      <div class="column middle centralize">
        <ion-title>{{title}}</ion-title>
      </div>  

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <img src="../../../assets/logo_v2.png"/>
   </div> 
  
   <form class="formInput" (ngSubmit)="Validate()" [formGroup]="validator">
     <div class="">
        <ion-item>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <hr>
        <ion-item>
          <ion-textarea type="string" placeholder="Comentario" formControlName="comment"></ion-textarea>
        </ion-item>
      </div>
        <hr>
       <ion-item class="" [disabled]="!validator.valid" >
          <div class="item-wripper">
            <input class="button-17 submit" type="submit" value="Mandar">
          </div>
        </ion-item>
    </form>

</ion-content>